            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            body {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            
            footer {
                font-size: 1.2em;
                display: inline;
            }
            /* division de la grilla de propiedades.html */
            
            .grid-propiedades {
                display: grid;
                width: 90%;
                height: 800px;
                margin: 40px auto;
                row-gap: 20px;
                column-gap: 20px;
                grid-template-areas: "area1 area1 area1 area1" "area2 area2 area2 area2" "area2 area2 area2 area2" "area2 area2 area2 area2" "area2 area2 area2 area2" "area2 area2 area2 area2" "area2 area2 area2 area2" "area2 area2 area2 area2" "area2 area2 area2 area2" "area2 area2 area2 area2" "area2 area2 area2 area2" "area3 area3 area3 area3";
            }
            
            .item-header {
                grid-area: area1;
                height: auto;
            }
            /* division de la grilla de los items donde se muestran las propiedades en propiedades.html*/
            
            .item-prop {
                background-color: rgb(233, 229, 229);
                padding: 2%;
                grid-area: area2;
                display: grid;
                width: 100%;
                height: auto;
                row-gap: 10px;
                column-gap: 5px;
                grid-template-areas: "P1 P1" "P2 P2" "P3 P3" "P4 P4";
                justify-content: space-evenly;
            }
            
            .item-footer {
                background-color: darkcyan;
                height: auto;
                grid-area: area3;
            }
            
            .propiedades {
                color: black;
                border-color: blue;
            }
            
            .grid-item-prop .prop1 {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: left;
                column-gap: 0.5em;
            }
            
            .grid-item-prop .prop2 {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: left;
                column-gap: 0.5em;
            }
            
            .grid-item-prop .prop3 {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: left;
                column-gap: 0.5em;
            }
            
            .grid-item-prop .prop4 {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: left;
                column-gap: 0.5em;
            }
            /* fin definicion grilla propiedades.html */
            /*defincion de estructura de novedes, servicios y contacto */
            
            .item-novedades,
            .item-servicios,
            .item-contacto {
                background-color: rgb(233, 229, 229);
                padding: 2%;
                grid-area: area2;
                display: grid;
                width: 100%;
                height: auto;
                row-gap: 10px;
                column-gap: 5px;
                grid-template-areas: "P1" "P1" "P1" "P1" "P1" "P1" "P1" "P1";
                justify-content: space-evenly;
            }
            
            .novedades,
            .servicios,
            .contacto {
                grid-area: P1;
                height: 10%;
                width: 10%;
                position: relative;
                color: black;
            }
            /* Fin defincion de estructura de novedes, servicios y contacto  */
/*Definicion propiedades novedades.html*/
            
            .grid-novedades {
                display: grid;
                width: 90%;
                height: auto;
                grid-area: "N0" "N1" "N2" "N3" "N4" "N5";
            }
            
            .arituculo-item0 {
                grid-area: N0;
                height: auto;
            }
            
            .arituculo-item1 {
                grid-area: N1;
            }
            
            .arituculo-item2 {
                grid-area: N2;
                position: relative;
            }
            
            .arituculo-item3 {
                grid-area: N3;
            }
            
            .arituculo-item4 {
                grid-area: N4;
            }
            
            .arituculo-item5 {
                grid-area: N5;
            }
              .articulo-item5>h1 {
                background-color: rgb(46, 66, 173);
                color: white;
            }
            
            .articuloNovedades {
                padding: 1%;
                width: fit-content;
            }
            
            .imagenNota {
                position: relative;
            }
            
            .articuloNovedades>p::first-letter {
                color: tomato;
            }
            
            .articuloNovedades>h4::first-line {
                background-color: yellow;
            }
            
            .articuloNovedades>h4 {
                padding: 1%;
            }
            /*fin definicion novedades.html*/
            
            .grid-container {
                display: grid;
                width: 90%;
                height: 800px;
                margin: 40px auto;
                row-gap: 20px;
                column-gap: 20px;
                grid-template-areas: "area1 area1 area1 area1 area1" "area2 area2 area2 area2 area3" "area2 area2 area2 area2 area3" "area2 area2 area2 area2 area3" "area2 area2 area2 area2 area3" "area2 area2 area2 area2 area3" "area2 area2 area2 area2 area3" "area4 area4 area4 area4 area3" "area4 area4 area4 area4 area3" "area4 area4 area4 area4 area3" "area5 area5 area5 area5 area5";
            }
            
            .grid-item,
            .grid-item-prop {
                /* border: 1px solid blue; */
                color: #fff;
                text-align: center;
                font-size: 1em;
            }
            
            .item1 {
                grid-area: area1;
                height: auto;
            }
            
            .item2 {
                background-color: rgb(233, 229, 229);
                padding: 2%;
                grid-area: area2;
                display: grid;
                width: 100%;
                height: auto;
                row-gap: 10px;
                column-gap: 5px;
                grid-template-areas: "P1 P2" "P3 P4";
                justify-content: space-evenly;
            }
            
            .terreno {
                grid-area: P1;
                height: 10%;
                width: 10%;
                position: relative;
                color: black;
            }
            
            .departamento {
                grid-area: P2;
                height: 10%;
                width: 10%;
                position: relative;
                color: black;
            }
            
            .casa {
                grid-area: P3;
                height: 10%;
                width: 10%;
                position: relative;
                color: black;
            }
            
            .ph {
                grid-area: P4;
                height: 10%;
                width: 10%;
                position: relative;
                color: black;
            }
            
            .item3 {
                color: black;
                grid-area: area3;
                font-size: 1.3em;
                /* width: 100%; */
                min-width: 300px;
            }
            
            .item3>h1 {
                color: gold;
            }
            
            .item3>section {
                text-align: left;
            }
            
            .item4 {
                background-color: rgb(233, 229, 229);
                grid-area: area4;
                /* height: auto; */
            }
            
            .item5 {
                background-color: darkcyan;
                height: auto;
                grid-area: area5;
            }
            
            header {
                display: flex;
                justify-content: space-evenly;
            }
            
            .menu-nav {
                display: flex;
                align-content: space-between;
                gap: 10%;
                width: 80%;
            }
            
            .seccion-servicios {
                font-size: 1.3em;
            }
            
            .header-servicios {
                font-size: 1em;
                color: black;
            }
            
            .grid-recursos {
                display: grid;
                width: 100%;
                column-gap: 5px;
                justify-content: space-between;
                /* align-items: center; */
                grid-template-areas: "R1 R2 R3";
                color: black;
            }
            
            .item-Administracion {
                width: auto;
                grid-area: R1;
            }
            
            .item-CVA {
                width: auto;
                grid-area: R2;
            }
            
            .item-Asesoramiento {
                width: auto;
                grid-area: R3;
            }
            
            li:hover {
                background-color: gray;
                border-radius: 15%;
            }
            
            li,
            a {
                text-decoration: none;
                display: inline;
                list-style: none;
            }
            
            .header-nav {
                margin: 2.2em;
                padding: 2.2em;
                align-items: center;
                width: 80%;
            }
            
            .header-logo {
                width: 20%;
            }
            
            #menu,
            #menu-check {
                display: none;
            }
            /* primer regulacion de pantalla*/
            
            @media only screen and (max-width: 800px) {
                /* Division de la grilla de index.html */
                .grid-container {
                    display: grid;
                    width: 90%;
                    height: 800px;
                    margin: 40px auto;
                    row-gap: 20px;
                    column-gap: 20px;
                    grid-template-areas: "area1 area1 area1 area1 area1" "area2 area2 area2 area2 area2" "area2 area2 area2 area2 area2" "area2 area2 area2 area2 area2" "area2 area2 area2 area2 area2" "area2 area2 area2 area2 area2" "area2 area2 area2 area2 area2" "area3 area3 area3 area3 area3" "area3 area3 area3 area3 area3" "area4 area4 area4 area4 area4" "area4 area4 area4 area4 area4" "area5 area5 area5 area5 area5";
                }
                .grid-recursos {
                    display: grid;
                    width: 100%;
                    column-gap: 5px;
                    justify-content: space-between;
                    align-items: left;
                    grid-template-areas: "R1" "R2" "R3";
                    color: black;
                }
                .item-Administracion,
                .item-Asesoramiento,
                .item-CVA {
                    text-align: left;
                }
                /* division de la grilla de propiedades.html*/
                .grid-propiedades {
                    display: grid;
                    width: 90%;
                    height: 800px;
                    margin: 40px auto;
                    row-gap: 20px;
                    column-gap: 20px;
                    grid-template-areas: "area1" "area2" "area2" "area2" "area2" "area2" "area2" "area2" "area2" "area2" "area2" "area3"
                }
                .grid-item-prop .prop1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: left;
                    column-gap: 0.5em;
                }
                .grid-item-prop .prop2 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: left;
                    column-gap: 0.5em;
                }
                .grid-item-prop .prop3 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: left;
                    column-gap: 0.5em;
                }
                .grid-item-prop .prop4 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: left;
                    column-gap: 0.5em;
                }
            }
            /*Segunda regulacion de pantalla*/
            
            @media only screen and (max-width:500px) {
                /* Division de la grilla de index.html */
                .grid-container {
                    display: grid;
                    width: 90%;
                    height: 800px;
                    margin: 40px auto;
                    row-gap: 20px;
                    column-gap: 20px;
                    grid-template-areas: "area1 area1 area1" "area2 area2 area2" "area2 area2 area2" "area2 area2 area2" "area2 area2 area2" "area2 area2 area2" "area2 area2 area2" "area3 area3 area3" "area3 area3 area3" "area3 area3 area3" "area3 area3 area3" "area3 area3 area3" "area4 area4 area4" "area4 area4 area4" "area4 area4 area4" "area4 area4 area4" "area5 area5 area5";
                }
                /* Division de la grilla de propiedades.html */
                .grid-propiedades {
                    display: grid;
                    width: 90%;
                    height: 800px;
                    margin: 40px auto;
                    row-gap: 20px;
                    column-gap: 20px;
                    grid-template-areas: "area1" "area2" "area2" "area2" "area2" "area2" "area2" "area2""area2""area2""area2" "area3"
                }
                /* configuracion de  como se muestran la propiedades en propiedades.html*/
                .item-prop {
                    background-color: rgb(233, 229, 229);
                    padding: 2%;
                    grid-area: area2;
                    display: grid;
                    width: 100%;
                    height: auto;
                    row-gap: 10px;
                    column-gap: 5px;
                    grid-template-areas: "P1" "P2" "P3" "P4";
                    justify-content: space-evenly;
                }
                .grid-item-prop .prop1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: left;
                    column-gap: 0.5em;
                }
                .grid-item-prop .prop2 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: left;
                    column-gap: 0.5em;
                }
                .grid-item-prop .prop3 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: left;
                    column-gap: 0.5em;
                }
                .grid-item-prop .prop4 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: left;
                    column-gap: 0.5em;
                }
                /* fin de definicion grilla de propiedades.html*/
                .item2 {
                    background-color: rgb(233, 229, 229);
                    padding: 2%;
                    grid-area: area2;
                    display: grid;
                    width: 100%;
                    height: auto;
                    row-gap: 10px;
                    grid-template-areas: "P1" "P2" "P3" "P4";
                }
                .grid-recursos {
                    display: grid;
                    width: 100%;
                    column-gap: 5px;
                    justify-content: space-between;
                    align-items: left;
                    grid-template-areas: "R1" "R2" "R3";
                    color: black;
                }
                .item-Administracion,
                .item-Asesoramiento,
                .item-CVA {
                    text-align: left;
                }
                /********************************************************************/
                #menu-check:not(:checked)~nav {
                    display: none;
                }
                #menu-check:checked~nav {
                    display: block;
                }
                #menu {
                    display: block;
                    color: blue;
                    background-color: gray;
                    font-size: 1.2em;
                    font-weight: bold;
                    border: 3px solid blue;
                    border-radius: 0.3em;
                    position: absolute;
                    right: 0.5em;
                    top: 0.5em;
                    z-index: 9999;
                }
                #menu:hover {
                    color: blue;
                    background-color: white;
                }
                #menu-cerrar {
                    display: none;
                }
                /********************************************************************/
                header {
                    display: flex;
                    flex-direction: column;
                    /* flex-direction: row; */
                }
                .header-logo {
                    justify-content: flex-start;
                }
                #menu-check:checked~label #menu-abrir {
                    display: none;
                }
                #menu-check:checked~label #menu-cerrar {
                    display: block;
                }
                header .header-nav {
                    position: absolute;
                    /* position: relative; */
                    top: 0;
                    right: 0;
                    width: 130px;
                    height: auto;
                    /* background-color: gray; */
                    padding-top: 0.5em;
                    padding-right: 1.5em;
                    opacity: 0.7;
                    color: black;
                    z-index: 9998;
                }
                .header-nav nav ul li {
                    color: blue;
                }
                header.nav nav ul,
                header.nav nav ul li {
                    display: block;
                    /* text-align: right; */
                }
                .menu-nav {
                    display: flex;
                    place-content: space-between;
                    flex-direction: column;
                    align-items: flex-end;
                }
            }
